<html>
    <head>
        <title>
                {% block title_html %}Developr Detail{% endblock %}
            </title>

    </head>
    <body>
        <h1>
            {% block h1 %}Developer Detail{% endblock %}
        </h1>
        <article>
            {% block article_content %}
                <h4>
                    {{ object.name }}
                </h4>
                <span>Login : {{ object.login }}</span><br />
                <span>Email : {{ object.email }}</span>
                <h3>Tasks</h3>
                <table>
                    {% for task in tasks_dev %}
                        <tr>
                        <td>{{ task.title }}</td>
                        <td>{{ task.importance }}</td>
                        <td>{{ task.project }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </br>
                </br>
                {% url 'home' as home %}
                <a href= "{{ home }}">Go Home</a>
            {% endblock %}
            </br>
        </article>
    </body>
</html>
