{% extends 'base.html' %}

{% block title_html %}
            Task Manager
{% endblock %}
{% block h1 %}
            Welcome to the Task Manager
{% endblock %}
{% block article_content %}
    <h2>{{ action }}</h2>
    <p>
    <table style="width:100%">
        <tr>
            <th><h3>Tests</h3></th>
            <th><h3>HTML forms</h3></th>
            <th><h3> Django Forms</h3></th>
        </tr>
        <tr>
            <td>
                {% url 'projects' as the_projects %}
                <a href= "{{ the_projects }}">Go to the Projects</a>
            </td>
            <td>
                {% url 'automatic' as automatic %}
                <a href= "{{ automatic }}">Create a automatic project</a>
            </td>
            <td>
                {% url 'cproject' as cproject %}
                <a href= "{{ cproject }}">Create Project - Django Modelform</a>
            </td>
        <tr>
            <td>
                {% url 'connection' as the_connection %}
                <a href= "{{ the_connection }}">Go to the Deep Hole</a>
            </td>
            <td>
                {% url 'mdeveloper' as mdeveloper %}
                <a href= "{{ mdeveloper }}">Create Developer - HTML form</a>
            </td>
            <td>
                {% url 'ddeveloper' as ddeveloper %}
                <a href= "{{ ddeveloper }}">Create Developer - Django form</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                {% url 'csupervisor' as csupervisor %}
                <a href= "{{ csupervisor }}">Create Supervisor - Django Modelform</a>
            </td>
        </tr>
    </p>
    </table>
    <p>
        <table style="width:100%">
            <tr>
                <th><h3>CBV</h3></th>
            </tr>
            <tr>
                <td>
                    {% url 'cbv_project' as cproject %}
                    <a href= "{{ cproject }}">Create a Project with CBV</a>
                </td>
                <td>
                    {% url 'projectlist_cbv' as projectlist %}
                    <a href= "{{ projectlist }}">Project Details</a>
                </td>
                <td>
                    {% url 'developer_detail' as ddetail %}
                    <a href= "{{ ddetail }}">Developer Details</a>
                </td>
            </tr>
            <tr>
                <td>
                    {% url 'cbv_task' as ctask %}
                    <a href= "{{ ctask }}">Create a Task with CBV</a>
                </td>
                <td>
                    {% url 'developer_list' as devlist %}
                    <a href= "{{ devlist }}">Developer List</a>
                </td>
            </tr>
            <tr>
                <td>
                    {% url 'cbv_project_list' as clist %}
                    <a href= "{{ clist }}">List All Projects</a>
                </td>
                <td>
                    <a href="{% url "task_detail" "1" %}">Detail first view</a>
                </td>
            </tr>
    {% load static %}
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}
